header{
    align-content: center;
    font-display: flex;
    justify-content: space-between;
    padding: 20px;
    justify-content: flex right;
}
body{
    background-image: url(Images/images/headphones_hero_1.jpg);
}
a{
    text-decoration: none;
    margin: 2px;
    text-align: right;
    color: white;
}
.P1{
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 30px;
}
a:hover{
    color: red;
}
img{
    size: 1px 2px;
}
